div{
    background-color: grey;
}
.img{
width: 1000px;
}
.carousel{
border-image-width: auto;
}

.info {
 margin-left: 500px;
}
.lot{
    margin-left: 700px;
    margin-top: 25px;
}
.pot{
    margin-left: 50px;
    margin-top: 25px;
}

.rot{
    margin-left: 50px;
    margin-top: 25px;
}
h1{
    margin-bottom: 60px;
}
p{
    margin-top: 50px;
}
